h1{
    border: 3px solid #293f50;
    padding-bottom: 1em;
    text-align: center; color: #293f50; 
    padding-top: 1em;
    text-transform: uppercase;
    block-size:1em;
    text-underline-position: below;
}
h4{
    color:#293f50;
    text-align: center;
}

body{
    background-color: lightgray;
}
    
    

