    h1{
    border: 2px solid chartreuse;
    padding-bottom: 1em;
    text-align: center; color: chartreuse; padding-top: 1em;
    text-transform: uppercase;
    block-size:1em;
    text-underline-position: below;
}
a{
    color: chartreuse;
    padding-left: 2em;     
    padding-inline-start: 1em; 
    padding-inline-end: 1em;
    padding-bottom: 1em; 
    padding-top: 1em; 
    border:solid 1px chartreuse           
}
}
body{
    background-color: black;

}
p{ 
    color:white;
   
}
ul{
    text-align: left;
    color: chartreuse;
    }
h4{
    padding-left: 11em;
    
    }
img{
    padding-top: 35px;
    interval: 1
}

 