h1{
    text-align: center; color: chartreuse; 
}
body{
    background-color: white;
}

p{ 
    color:white;   
}

img{
    padding-top: 35px;
}
a {
    color: white ;
}

#sidebar{
  position: fixed;
  width: 60%;
  height: 100%;
  left: -120%;
  background-color:gray
}

#sidebar li{
  color: white;
  font-size: 25px;
  padding: 10px;
  border-bottom: 2px solid black;
  text-align: center;
  transition: 1s;
}

.toggle-btn{
  position: fixed;
  left: 10px;
  top: 10px;
  border: 1px solid;color: white;
  
}

.toggle-btn span{
  display: block;
  background-color:white;
  width: 30px;
  height: 5px;
  margin: 3px;
  border: white;
} 

#sidebar.active{
  left: 0;
}


h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background-color: white;
  z-index: -1;
  transition: transform .3s ease;
}

h1 {
  position: relative;
  font-size: 3em;
}